<div id="history">
	<%= link_to new_template_sales_item_post_production_result_url( template_sales_item), 
			:class => "new_entry btn btn-primary" do %>
		<i class="icon-plus"></i>Post Production Progress Baru
	<% end %>
	<hr />

	<table class="table table-bordered table-striped table-highlight" id='tableview'>
		<thead>
			<tr>
				<th>Tanggal Record</th>
				<th>Sukses</th>  
				<th>Gagal Teknis</th>   <!--  preproduction, production, post production + delivery? -->
				<th>Gagal Keropos</th> 
	 			<th>Tanggal Mulai</th>
				<th>Tanggal Selesai</th>
					<th colspan='3'>Action</th>
			</tr>
		</thead>
		<tbody> 
			<% results.each do |object| %>
				<%= render :partial =>  'post_production_results/entry', :locals => {
					:object => object ,
					:parent => template_sales_item 
				} %> 
			<% end %>
		</tbody>
	</table>
</div>