<table class="table table-bordered table-striped table-highlight" id='actionbar'>
	<tbody>
		<tr>
			<td style='text-align:left;'>
				<%= link_to new_sales_order_sales_item_url( parent ), 
					:class => "new_entry btn btn-primary" do %>
					<i class="icon-plus"></i>Sales Item Baru
				<% end %>
			</td>
			
			<td style='text-align:center;'>
				<%= link_to new_sales_order_derivative_sales_item_url( parent ), 
					:class => "new_entry btn btn-primary" do %>
					<i class="icon-plus"></i>Repeat or Generic
				<% end %>
			</td>
			
			<td style='text-align: right;'> 
				
			 
				
				
				<%= link_to confirm_sales_order_url(parent),
					:id => 'confirm' , 
					:class => " btn btn-primary" do %>
					<i class="icon-ok"></i> Confirm
				<% end %>
			</td>
		</tr>
	</tbody>
</table>