<table class="table table-bordered table-striped table-highlight" id='tableview'>
	<thead>
		<tr>
			<th>Code</th>
			<th>Nama</th>
			<th>Spec</th>  
			<th>Service</th>   <!--  preproduction, production, post production + delivery? -->
				<th colspan='2'>Action</th>
		</tr>
	</thead>
	<tbody> 
		<!-- because we have the show action -->
		<% if details.nil? %>
			<% details = 0 %>
		<% end %>
		
		<% objects.each do |object| %>
			<%= render :partial =>  'sales_items/entry', :locals => {
				:object => object ,
				:parent => parent ,
				:details => details 
			} %> 
		<% end %>
	</tbody>
</table>