<table class="table table-bordered table-striped table-highlight" id='tableview'>
	<thead>
		<tr>
			<th>Code</th>
			<th>Nama</th> 
			<th>Jumlah Kirim</th>
			<% if not parent.is_confirmed? %>
				<th colspan='2'>Action</th>
			<% elsif parent.is_confirmed? and not parent.is_finalized? %>
				<th>Jumlah Konfirmasi</th>
				<th>Action</th>
			<% elsif parent.is_confirmed? and parent.is_finalized? %>
				<th>Jumlah Konfirmasi</th>
			<% end %>
		</tr>
	</thead>
	<tbody> 
		<% objects.each do |object| %>
			<%= render :partial =>  'delivery_entries/entry', :locals => {
				:object => object ,
				:parent => parent 
			} %> 
		<% end %>
	</tbody>
</table>