<table class="table table-bordered table-striped table-highlight" id='actionbar'>
	<tbody>
		<tr> 
			<td style='text-align: center;'>  
				<%= link_to print_payment_url(parent, :format => :pdf),
					:class => " btn btn-primary" do %>
					<i class="icon-ok"></i> Download Payment
				<% end %>
			</td>
		</tr>
	</tbody>
</table>