<table class="table table-bordered table-striped table-highlight" id='actionbar'>
	<tbody>
		<tr>
			<td style='text-align:left;'>
				<%= link_to new_guarantee_return_guarantee_return_entry_url( parent ), 
					:class => "new_entry btn btn-primary" do %>
					<i class="icon-plus"></i>Return Garansi Entry Baru
				<% end %>
			</td>
			
			<td style='text-align: right;'> 
				
			 
				
				
				<%= link_to confirm_guarantee_return_url(parent),
					:id => 'confirm' , 
					:class => " btn btn-primary" do %>
					<i class="icon-ok"></i> Confirm
				<% end %>
			</td>
		</tr>
	</tbody>
</table>