<%= render :partial => "layouts/masthead" ,:locals => {
	:title => "Report Pengerjaan: #{@sales_item.code}",
	:description => "Lihat progress history post produksi (bubut) dengan total: <b>#{@sales_item.number_of_post_production}</b>".html_safe
}%>

<%= create_breadcrumb(@breadcrumbs).html_safe %>


<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span12">
				 
				<table class="table table-bordered table-striped table-highlight" id='tableview'>
					<thead>
						<tr>
							<th>Tanggal</th> 
							<th>OK</th> 
							<th>Gagal</th> 
						</tr>
					</thead>
					<tbody> 
						<% @objects.each do |object| %>
							<%= render :partial =>  'home/post_production_history_entry', :locals => {
								:object => object 
							} %> 
						<% end %>
					</tbody>
				</table>

				
				
				
			 
				
			</div> <!-- /.span12 -->
			
		 
		</div> <!-- /.row -->
		
	
	</div> <!-- /.container -->

</div> <!-- /#content -->
 
