<table class="table table-bordered table-striped table-highlight" id='actionbar'>
	<tbody>
		<tr> 
			<td style='text-align: center;'>  
				<%= link_to '#'  ,
					:class => " btn btn-primary" do %>
					<i class="icon-envelope"></i> CONFIRMED
				<% end %>
			</td>
			
	 
			 
			 
		</tr>
	</tbody>
</table>