<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h2><%= title %></h2>
				<p><%= description %></p>
			</div> <!-- /.masthead-text -->
		
		

		</div>
		
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->