<ul id="main-nav" class="nav pull-right">
	<li class='dropdown'>
		<a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>
			<i class='icon-th'></i>
			<span>Management</span>
			<b class="caret"></b>
		</a>
		
		<ul class='dropdown-menu'>
			
		</ul>
	</li>
	
	<li class='dropdown'>
		<a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>
			<i class='icon-copy'></i>
			<span>Inventory</span>
			<b class="caret"></b>
		</a>
		
		<ul class='dropdown-menu'>
			
		</ul>
	</li>
	
	<li class='dropdown'>
		<a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>
			<i class='icon-shopping-cart'></i>
			<span>Payment</span>
			<b class="caret"></b>
		</a>
		<ul class='dropdown-menu'>
		
		</ul>
	</li>
	
	<li class='dropdown'>
		<a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>
			<i class='icon-shopping-cart'></i>
			<span>Factory</span>
			<b class="caret"></b>
		</a>
		
		<ul class='dropdown-menu'>
			<li class='divider'></li>
		</ul>
	</li>
	
	<li class='dropdown'>
		<a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>
			<i class='icon-shopping-cart'></i>
			<span>Sales</span>
			<b class="caret"></b>
		</a>
		
		<ul class='dropdown-menu'>
			<li class='divider'></li>
		</ul>
	</li>
</ul>
